<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.schabi.newpipelegacy">

    <application
        android:name="org.schabi.newpipelegacy.DebugApp"
        android:label="NewPipe Legacy Debug"
        tools:replace="android:name, android:label">
        <activity
            android:name="org.schabi.newpipelegacy.MainActivity"
            android:label="NewPipe Legacy Debug"
            tools:replace="android:label"/>
    </application>

</manifest>